*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #F4F4F4;
    color: #333333;
    box-sizing: border-box;
}
main{
    display: grid;
    gap: 1rem;
    width: 100%;
    margin: auto;
}

/*Cabeçalho*/
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #929292;
}

.cabecalho h1{
    display: flex;
    align-items: center;
    gap: 1rem;

    color: #2E5D87;
}
.cabecalho nav{
    text-align: right;
    padding-right: 1rem;
}
.cabecalho img{
    height: 74px;
    width: 74px;
}

.navega a:hover{
    color: #2E5D87; 
}
.navega a{
    color: #333333;
    text-decoration: none;
}

.banner{
    text-align: center;
    color: #333333;
    background-image: url(imagens/bannerMTbrabo.jpg);
}
.imagem{
    width: 100%;
    opacity: 0.5;
    
}
.sobre h2{
    font-size: larger;
    text-align: center;
    
    flex-direction: column;

    color: #2E5D87;
}
.sobre p{
    font-size: 1.25rem;
}

/*Serviços*/
.servico h3{
    font-size: larger;
    text-align: center;
    padding-bottom: 2em;
    color: #2E5D87;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 12rem);
    gap: 2em;
    
    justify-content: center;
    text-align: center;
}
.topico{
    color: #333333;
}
.quadrado{
    max-width: 12rem;
    height: 100%;
    background-color: #F4F4F4;
    border-radius: 1rem;
    border: 1px solid#D9D9D9;
}
.quadrado img{
    max-width: 12rem;
    height: 50%;
}

/*Depoimentos*/
.retangulo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    
}
.depo h4{
    font-size: larger;
    text-align: center;
    padding-bottom: 2em;
    color: #2E5D87;
}
.caixa{
    width: 12rem;
    height: 12rem;
    
    border-radius: 1rem;
    background-color: #F4F4F4;
    border: 1px solid#D9D9D9;
}
.cliente{
    color: #333333;
    display: grid;
    text-align: center;
}

/*Contatos*/
.contato{
    width: 20rem;
    height: 20rem;
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    border-radius: 0.5rem;
    border: 2px solid#D9D9D9;
}
.contato h5{
    font-size: larger;
    color: #2E5D87;
}
input{
    color: #333333;
    background-color: #F4F4F4;
    border-radius: 0.5rem;
}
/*fazer sumir as setas no input type number*/
input[type = "number"] ::-webkit-inner-spin-button,
input[type = "number"] ::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0%;
}
/*faz sumir as setas tbm só que no firefox*/
input[type = "number"]{
    -moz-appearance: textfield;
    appearance: textfield;
}
button{
    color: #2E5D87;
    background-color: #696565;
    border-radius: 0.5rem;
}
button:hover{
    background-color:#121212;
}
footer{
    text-align: center;
}


/*Celular*/
@media (max-width:700px){
    .cabecalho{
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    .navega{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .quadrado{
        max-width: 100%;
    }
    .retangulo{
        grid-template-columns: 1fr;
       gap: 2rem;
    }
    .caixa{
        width: 100%;
        max-width: 20rem;
    }
    .contato{
        width: 100%;
    }


}
