*{
    margin: 0%;
    padding: 0%;
}
body{
    color: rgb(61, 61, 60);
    box-sizing: border-box;
}
main{
    display: grid;
    gap: 1rem;
    width: 80%;
    margin: auto;
}

.banner{
    text-align: center;
    color: rgb(236, 173, 12);
}
/*Cabeçalho*/
.cabecalho{
    background: transparent;
    font-size: 1.25rem;
    
    flex-direction: row;
    gap: 1rem;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.cabecalho h1{
    text-align: left;
    color: rgb(236, 173, 12);
}
.cabecalho nav{
    text-align: right;
    padding-right: 1rem;
}

/*Sobre*/
.sobre h2{
    text-align: center;
    display: block;
    flex-direction: column;

    color: rgb(236, 173, 12);
}
.sobre p{
    font-size: 1.25rem;
}

/*Serviços*/
.servico h3{
    text-align: center;
    padding-bottom: 2em;
    color: rgb(236, 173, 12);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    text-align: center;

    margin-left: 11rem;
}
.topico{
    color: rgb(236, 173, 12);
}
.quadrado{
    width: 12rem;
    height: 8rem;
}

/*Depoimentos*/
.depo h4{
    text-align: center;
    padding-bottom: 2em;
    color: rgb(236, 173, 12);
}
.retangulo{
    display: inline-flex;
    gap: 2em;
    padding-bottom: 10%;
    margin-left: 10rem;

    text-align: center;
}
.caixa{
    width: 12rem;
    height: 10rem;
}
.cliente{
    color: rgb(236, 173, 12);
}

/*Contatos*/
.contato{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}
.contato h5{
    color: rgb(236, 173, 12);
}
